<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @vote.title %>
</p>

<p>
  <strong>Url:</strong>
  <%= @vote.url %>
</p>

<%= link_to 'Edit', edit_vote_path(@vote) %> |
<%= link_to 'Back', votes_path %>
